:any-link { text-decoration: wavy underline }
:hover { text-decoration-style: solid }
:focus { outline: medium groove }

:root {
  font-size: max(1em, 10vmin, 5vmax);
  line-height: 1.618;
}

body {
  margin: 1.618em;
}

article {
  margin: auto;
}
